Django
psycopg2-binary
djangorestframework
django-crispy-forms
crispy-bootstrap5
Pillow
python-decouple
django-htmx
django-filter
plotly
torch
torchvision
torchgeo
sentinelhub
rasterio
numpy
scikit-learn
pandas
Shapely
django-leaflet
djangorestframework-gis
django-axes
earthengine-api
celery
redis
django-celery-beat
django-celery-results
python-dotenv
gunicorn
psycopg2-binary
whitenoise
dj-database-url
